{% extends 'base.html.twig' %}

{% block body %}

    <div data-controller="main">
        <div class="container currentStatsContainer">
{#            <header>#}
{#                <div class="logo">HomeStats</div>#}
{#                <div class="date">{{ "now"|date("l, d. F") }}</div>#}
{#            </header>#}

            <div data-main-target="currentDataContainer">
                {% include 'home/currentValues.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}