<div class="menu">
    <a href="/" class="navElement {% if currentPage == "current" %}active{% endif %}" id="current">
        Сейчас
    </a>
    <a href="/stats" class="navElement {% if currentPage == "stats" %}active{% endif %}" id="stats">
        Статистика
    </a>
</div>
