{% extends 'base.html.twig' %}
 {% block body %}
     {{ parent() }}

     <div class="flex" style="flex-direction: row">
         <div  style="width: 100%">
             <h1 style="color:whitesmoke">Температура / Влажность</h1>
             <canvas id="tempHum" style="width: 100%"></canvas>
         </div>

         <div style="width: 100%">
             <h1 style="color:whitesmoke">Пыль</h1>
             <canvas id="dust" style="width: 100%"></canvas>
         </div>
     </div>

     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="stats.js"></script>
 {% endblock %}


